body {
  padding: 0;
  margin: 0;
  background-color: #5d6d7e;
  font-family: "Nunito", sans-serif;
}

html,
body,
#map {
  width: 100vw;
  height: 80%;
}
.titleGroup {
  margin: auto;
  text-align: center;
  font-weight: bold;
}
.buttonGroup {
  margin: auto;
  text-align: center;
  padding-bottom: 20px;
}
.btn {
  color: whitesmoke;
  /* background-color: #2980b9; */
  background-color: #34495e;
  height: 50px;
  border-style: solid;
  border-color: black;
}
